
<div ng-controller="categoriesCtrl" class="categories-container">
	<div class="category-details-container">
		<div class="column categories">
			<div class="header">
				Categories
				<i ng-click="addCategory()" class="icon plus button"></i>
			</div>
			<div class="item-container">
				<div class="spacer"></div>
				<div class="item category" 
				     ng-class="{active:activeCategory===ALL}"
				     ng-click="$state.go('categories.category', {category:ALL});chooseCategory(ALL)">
					Everything {{ magicStats[ALL].amount/100 | currency : "£" }}
				</div>
				<div class="spacer"></div>
				<div class="item category" 
				     ng-class="{active:activeCategory===CAT}"
				     ng-click="$state.go('categories.category', {category:CAT});chooseCategory(CAT)">
					Categorised {{ magicStats[CAT].amount/100 | currency : "£" }}
				</div>
				<div class="spacer"></div>
				<div class="item category" 
				     ng-class="{active:activeCategory===UNCAT}"
				     ng-click="$state.go('categories.category', {category:UNCAT});chooseCategory(UNCAT)">
					Uncategorised {{ magicStats[UNCAT].amount/100 | currency : "£" }}
				</div>
				<div class="spacer"></div>
				<div class="item category" 
				     ng-repeat-start="category in categories"
				     ng-class="{active:activeCategory==category.name}"
				     ng-click="$state.go('categories.category', {category:category.name});chooseCategory($index)">
					{{ category.name }} {{ category.amount/100 | currency : "£" }}
					<i class="icon popover" ng-click="showCategoryPopoverMenu($event)"></i>
				</div>
				<div ng-repeat-end class="spacer"></div>
			</div>
		</div>
		<div class="column labels" ng-if="activeCategory && activeCategory!=UNCAT && activeCategory!=CAT && activeCategory!=ALL" >
			<div class="header">
				Labels
				<i ng-click="addLabel()" class="icon plus button"></i>
			</div>
			<div class="item-container">
				<div class="spacer"></div>
				<div class="item label"
				     ng-class="{active:activeLabel==ALLLAB}"
				     ng-click="$state.go('categories.category.label', {category:activeCategory,label:ALLLAB});chooseLabel(ALLLAB)">
					All Labels 
				</div>
				<div class="spacer"></div>
				<div class="item label"
				     ng-repeat-start="label in categoryLabels[activeCategory]"
				     ng-class="{active:activeLabel==label.name}"
				     ng-click="$state.go('categories.category.label', {category:activeCategory,label:label.name});chooseLabel($index)">
					{{ label.name }} {{ label.amount/100 | currency : "£" }}
					<i class="icon popover" ng-click="showLabelPopoverMenu($event)"></i>
				</div>
				<div ng-repeat-end class="spacer"></div>
			</div>
		</div>
		<div class="column details">
			<div class="item-container">

				<div class="header">
					{{activeCategory}} &rsaquo; {{activeLabel}}
					<!-- <i ng-if="activeCategory && activeLabel" ng-click="addBudget()" class="icon plus button"></i> -->
				</div>
				<div class="tab-container" ng-if="activeCategory && activeCategory!=UNCAT && activeCategory!=CAT && activeCategory!=ALL">
					<div class="tab" ng-class="{active:activeDetail=='transactions'}" ng-click="chooseDetail('transactions')">Transactions</div>
					<div class="tab" ng-class="{active:activeDetail=='budgets'}" ng-click="chooseDetail('budgets')">Budgets</div>
					<div class="tab" ng-class="{active:activeDetail=='matchers'}" ng-click="chooseDetail('matchers')">Matchers</div>
				</div>


				<div ng-if="!activeDetail || activeDetail=='transactions'">
					<div class="header" ng-if="activeDetail">Transactions</div>
					<budget-graph amounts="previousYearAmounts(activeCategory, activeLabel)" year="year-1" label="(year-1)+' Transactions'"></budget-graph>
					<budget-graph amounts="currentYearAmounts(activeCategory, activeLabel)" year="year" label="(year)+' Transactions'"></budget-graph>
					<div ng-if="activeCategory && 
					            activeLabel && 
					            categoryDetails[activeCategory][activeLabel].budgets.length">
						<div class="spacer"></div>
						<budget-graph budgets="categoryDetails[activeCategory][activeLabel].budgets" year="year"></budget-graph>
						<div class="item budget"
						     ng-if="activeCategory && activeLabel"
						     ng-repeat-start="budget in categoryDetails[activeCategory][activeLabel].budgets"
						     ng-class="{active:activeBudgetIndex==$index}"
						     ng-click="chooseBudget($index)">
						     {{ budget | budgetDescription }}
							<i class="icon popover" ng-click="showBudgetPopoverMenu($event)"></i>
						</div>
						<div ng-repeat-end class="spacer"></div>
					</div>


					<div class="transaction-details">
						<div>
							<div class="transaction-row" ng-repeat="t in currentYearTransactions(activeCategory, activeLabel) track by t.id">
								<div class="transaction-item date">
									{{ t.date | dateformat }}
								</div>
								<div class="transaction-item description">
									{{t.description}}
								</div>
								<div class="transaction-item amount income">
									{{t.amount>0 ? (t.amount/100 | currency : "£") : ""}}
								</div>
								<div class="transaction-item amount expense">
									{{t.amount<=0 ? (-t.amount/100 | currency : "£") : ""}}
								</div>
								<div class="transaction-item category">
									{{t.category}} - {{t.label}}
								</div>

							</div>
						</div>
					</div>
				</div>

				<div ng-if="activeDetail=='budgets'">
					<div class="header">Budgets</div>
				</div>

				<div ng-if="activeDetail=='matchers'">

					<div class="header">
						Matchers
						<i ng-if="activeCategory && activeLabel" ng-click="addMatcher()" class="icon plus button"></i>
					</div>
					<div ng-if="activeCategory && activeLabel && categoryDetails[activeCategory][activeLabel].matchers.length" class="spacer"></div>
					<div>
						<div class="item match"
						     ng-if="activeCategory && activeLabel"
						     ng-repeat-start="match in categoryDetails[activeCategory][activeLabel].matchers"
						     ng-class="{active:activeMatcher==match}"
						     ng-click="chooseMatcher($index)">
							{{ matcherMapping[match.type] }} <span class="matchtext">{{ match.match }}</span>
							<i class="icon popover"></i>
						</div>
						<div ng-repeat-end class="spacer"></div>
					</div>

				</div>



			</div>
		</div>
	</div>

</div>

