.tab-container {
	display:flex;
	border-bottom:1px solid #bb9999;
}
.tab-container .tab {
	font-size:1em;
	height:3em;
	line-height:3em;
	margin-left:1em;
	cursor:pointer;
}
.tab-container .tab.active {
	color:#1245dd;
	border-bottom:5px solid #1245dd;
	/*font-weight:400;*/
}




.transaction-details {
	margin:1em auto;
	max-width:800px;
}
.transaction-details .transaction-row {
	font-size:0.8em;
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-around;
	align-items:flex-start;
}
.transaction-details .transaction-row:nth-child(3n) {
	border-bottom:1px dashed #e0e0e0;
}
.transaction-details .transaction-row .transaction-item {
	flex-shrink:0;
	flex-grow:0;
	line-height:1.2em;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.transaction-details .transaction-row .transaction-item.date {
	flex-basis:100px;
}
.transaction-details .transaction-row .transaction-item.description {
	flex-basis:250px;
}
.transaction-details .transaction-row .transaction-item.amount {
	flex-basis:70px;
	text-align:right;
}
.transaction-details .transaction-row .transaction-item.category {
	flex-grow:1;
	flex-shrink:1;
	margin-left:1em;
}
